.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    color: var(--grey);
    background-color:var(--dark-grey);
    width: 80%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    font-size: 1.2rem;
}
.search-flex input{
    background-color: var(--dark-grey);
    width: 100%;
    font-family:"inter";
    font-size: 1.2rem;
    border: none;
    color: var(--grey);
}
.search-flex input:focus{
    outline:none;
}
@media only screen and (max-width: 500px){
    .search-flex{
        width: 60%;
        gap: 0.5rem;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
    }
    .search-flex input{
        font-size: 1rem;
    }
}