.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: var(--black);
    color: var(--blue);
    position: absolute;
    z-index: 1000;
}