.coininfo-element-wrapper{ display: block;
  width: 90%;
  background-color: var(--dark-grey);
  margin: 1.5rem auto;
  border-radius:0.8rem ;
  padding:1rem 0.5rem;
}
.coininfo-heading{
    margin: 1rem;
}
.coininfo-description{
    margin: 1rem 1rem;
    line-height: 1.6rem;
    font-size: 1rem;
}