.grid-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin:1.5rem 2rem;
}
.info-container{
    margin: 1.5rem;

}
.info-container h3{
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
}
.list-table{
    width: 85%;
    display: block;
    margin:0 auto;
}
@media only screen and (max-width: 1000px){
   .list-table{
    width: 90%;
   }
}
@media only screen and (max-width: 900px){
    .list-table{
    width: 100%;
   }

}
@media only screen and (max-width: 620px){
   .css-13xfq8m-MuiTabPanel-root{
    padding: 0 !important;
   }
}
.no-item-found-grid{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.no-item-found{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px auto;
}