.grid-container{
    width: 320px;
    height: 310px;
    background-color: var(--dark-grey);
    border: 2px solid var(--dark-grey);
    border-radius: 0.75rem;
    cursor: pointer;
}
.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3s;
}
.grid-container-red:hover{
    border-color: var(--red);
    transition: all 0.3s;
}
.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
}
.coin-logo{
    height: 3.5rem;
    width: 3.5rem;
}
.coin-col{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}
.coin-symbol{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
.coin-name{
     color: var(--grey);
    text-transform:capitalize;
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}
.chip-flex{
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
    align-items: center;
      margin:1rem  1.5rem;
}
.price-chip{
    border: 2px solid  var(--green);
    border-radius: 2rem;
    padding: 0.5rem  1.25rem;
    text-align: center;
    font-weight:600;
    letter-spacing: 0.02rem;
    color: var(--green);
    font-size: 1.05rem;
    min-width: 60px;
  
}
.icon-chip{
      border: 2px solid  var(--green);
    border-radius: 50%;
    min-height: 2rem !important;
    min-width: 2rem !important;
   display: flex;
   justify-content: center;
   align-items: center;
     color: var(--green);
}
.chip-red{
    color: var(--red) !important;
    border: 2px solid  var(--red) !important;
}
.price-chip:hover,.icon-chip:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}

.chip-red:hover{
    background-color: var(--red)!important;
    color: var(--white) !important;
}
.total_volume{
    color: var(--grey);
    font-size: 1rem;
    font-weight: 600;
}
.market_cap{
    color: var(--grey);
    font-size: 1rem;
    font-weight: 600;
}