.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: var(--black);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}
.logo{
    font-size: 1.2rem;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.link{
    color: var(--grey);
    font-weight: 600;
    font-size: 1rem;
}
.link:hover{
    color: var(--white);
    transition: all 0.3s;
}
.mobile-drawer{
    display: none;
}
@media only screen and (max-width: 800px) {
    .logo{
        font-size: 1rem;
    }
    .navbar{
        padding: 1.5rem;
    }
.links{display: none;}
.mobile-drawer{display: block;}
.drawer-div{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--black);
    height: 100vh;
    padding: 1.5rem;
}
}