.flex-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 3rem;
}
.left-container{
    width: 50%;
}
.track-crypto-heading,.real-time-heading{
 font-size: 6.5rem;
 margin: 0;
}
.track-crypto-heading{
    color: var(--white);
    -webkit-text-stroke-width:3px ;
    -webkit-text-stroke-color:var(--white)
}
.track-crypto-heading:hover{
    transition: all 0.3s;
    color: var(--black);
}
.real-time-heading{
    color: var(--blue);
}
.info-text{
    font-size: 1rem;
    color: var(--grey);
    margin-top: 0.8rem;
}
.flex-btn{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    margin-top: 2.2rem;
    align-items: center;
}
.phone-container{
    width: 50%;
    position: relative;
    padding: 1rem;
}
.iphone{
    position: absolute;
    z-index:100;
    min-width: 300px;
    width: 50%;
    right: 0;
}
.gradient{
    position: absolute;
    min-width: 250px;
    width: 40%;
    top: 7rem;
    right: 0;
}
@media only screen and (max-width:1285.60px){
    .real-time-heading,.track-crypto-heading{
        font-size: 5rem;
        margin: 0;
    }
}
@media only screen and (max-width:1000px){
   .iphone{
    min-width: 250px;
    width: 50%;
   }
   .gradient{
    min-width: 200px;
    top:5rem    
   }
}
@media only screen and (max-width:800px){
 .flex-info{
    flex-direction: column;
 }
  .left-container{
    width: 100%;
 }
 .track-crypto-heading,.real-time-heading{
    font-size: 3rem;
    text-align: center;
 }
 .track-crypto-heading{
    -webkit-text-stroke-width: 1px;
 }
.info-text{
    text-align: center;
}
.flex-btn{
    justify-content: center;
}
 .phone-container{
    display: block;
    margin: auto;
    margin-top: 3rem;
 }
 .iphone{
    min-width: 250px;
    left: 14%;
 }
 .gradient{
    min-width: 200px;
    left: 25%;
 }
}
@media only screen and (max-width:440px){
    .iphone{
        min-width: 210px;
        left: 0.1%;
    }
    .gradient{
        min-width: 170px;
       left:15%
    }
}